$color-1:  #f6f5f5;
$color-2: #3e3e3e;

$light-1:  #CBD2D9;
$light-2:  #464B52;
$light-3:  #F5F7FA; //  #FEFEFE;
$light-4:  #C8CFD8;
$light-5:  #4a4a4a; // unused
$light-6:  #09469C;
$light-7:  #8F99A7;
$light-8:  #EDF2F7;
$light-9:  rgba(0, 0, 0, 0.28);
$light-10: #DFE3E8; // unused
$light-11: #DFE3E8; // unused
$light-12: #DFE3E8; // unused
$light-13: #64826A; // unused
$light-14: #64826A; // unused
$light-15: #64826A; // unused
$light-16: #7DA196;
$light-17: #181818;
$light-18: #7da19687;
$light-19: #F7DEC4;
$light-20: #52606D;
$light-21: #E4E7EB;